<IfModule mod_rewrite.c>
    RewriteEngine On

    # Перенаправляем все запросы на index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>